# CI for Product Catalog Service

name: product-catalog-ci

on: 
    pull_request:
        branches:
        - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
            go-version: 1.22
        
        - name: Build
          run: |
            cd src/product-catalog
            go mod download
            go build -o product-catalog-service main.go

        - name: unit tests
          run: |
            cd src/product-catalog
            go test ./...
    
    code-quality:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code
          uses: actions/checkout@v4
        
        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
           go-version: 1.22
        
        - name: Run golangci-lint
          uses: golangci/golangci-lint-action@v6
          with:
            version: v1.55.2
            run: golangci-lint run
            working-directory: src/product-catalog
            
    docker:
        runs-on: ubuntu-latest
        needs: build

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Login to AWS
         if: github.ref == 'refs/heads/main' 
         uses: aws-actions/configure-aws-credentials@v2
         with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

        # - name: Build Docker image
        #   if: github.ref == 'refs/heads/main' 
        #   run: |
        #       docker build -t frontend:latest services/frontend/


        - name: Log in to Amazon ECR
          if: github.ref == 'refs/heads/main' 
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v1

        # - name: Tag Docker image
        #   if: github.ref == 'refs/heads/main' 
        #   run: |
        #     docker tag frontend:latest ${{ secrets.ECR_REGISTRY }}/frontendnotes-1:latest

        # - name: Push Docker image to Amazon ECR
        #   if: github.ref == 'refs/heads/main' 
        #   run: |
        #     docker push ${{ secrets.ECR_REGISTRY }}/frontendnotes-1:latest

        # - name: Install Docker
        #   uses: docker/setup-buildx-action@v1
        
        # - name: Login to Docker
        #   uses: docker/login-action@v3
        #   with:
        #     username: ${{ secrets.DOCKER_USERNAME }}
        #    # password: ${{ secrets.DOCKER_TOKEN }}

         - name: Docker Push
          uses: docker/build-push-action@v6
          with:
             context: src/product-catalog
             file: src/product-catalog/Dockerfile
             push: true
             tags: ${{ secrets.ECR_REGISTRY }}/product-catalog:${{github.run_id}}

    
    updatek8s:
        runs-on: ubuntu-latest

        needs: docker

        steps:
        - name: checkout code
          uses: actions/checkout@v4
        

        - name: Update tag in kubernetes deployment manifest
          run: | 
               sed -i "s|image: .*|image: ${{ secrets.ECR_REGISTRY  }}/product-catalog:${{github.run_id}}|" kubernetes/productcatalog/deploy.yaml
        
        - name: Commit and push changes
          run: |
            git config --global user.email "reddy.pasunoori03@gmail.com"
            git config --global user.name "SowmyaRahul"
            git add kubernetes/productcatalog/deploy.yaml
            git commit -m "[CI]: Update product catalog image tag"
            git push origin HEAD:main -f

        
        
          


        
